.container {
  border: black solid ;
  background: rgba(24,24,27, 0.6);
  color: white;
}

body {
  background-image: url(" ../img/screenLogin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}